@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #e5ecef;
  font-family: "Lexend Deca", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #1c1e1e;
  /* overflow: scroll; */
}


.landing-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.header-container {
  width: 100%;
  height: 100px;
  border-bottom: 0.4px solid #bcbaba;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  /* background: #e5ecef; */
}

.hamburger-menu {
  display: none;
}

.navbar__container {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  position: relative;
}

.navbar__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu--items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* 
.modal__menu--items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

.navbar__menu--item {
  cursor: pointer;
  color: #1c1e1e;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__menu--item:active {
  border-bottom: 5px solid #478fd3;
}

.navbar__menu--item:hover {
  border-bottom: 5px solid #478fd3;
}

.home-container {
  margin: 4rem auto;
  width: 60%;
  height: 30rem;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-left: 2px solid #478fd3;
  padding: 0 2rem;
}

.job-paragraph {
  width: 80%;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.098px;
}

.job-title {
  color: #696a6a;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.148px;
}

.home-heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.23px;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
  border: 2px solid #478fd3;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.button-img {
  width: 1rem;
  height: 1rem;
}

.btn-img-item {
  width: 100%;
  height: 100%;
}

.work-container,
.contact-container, .about-container {
  background: #f1f0f6;
}

.about-container {
  width: 100%;
  /* height: 100%; */
  overflow: scroll;
}

.work-wrapper {
  width: 100%;
  height: 80%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.work-title {
  font-size: 2rem;
  color: #1c1e1e;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.164px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #478fd3;
}

.work-paragraph {
  color: #333;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.115px;
}

.work-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.work-image-container {
  width: 400px;
  height: 396px;
  background: #ffe3db;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.work-image-container-1 {
  width: 400px;
  height: 396px;
  background: #e1e2e2;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.work-image-container-2 {
  width: 400px;
  height: 396px;
  background: #e9def1;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.work-image-container-3 {
  width: 400px;
  height: 396px;
  background: #e6ece9;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.work-image-container:hover .work-image-text {
  /* opacity: 1; */
  animation: fadeIn 0.5s ease-in-out forwards;
}

.work-image-container-1:hover .work-image-text {
  /* opacity: 1; */
  animation: fadeIn 0.5s ease-in-out forwards;
}

.work-image-container-2:hover .work-image-text {
  /* opacity: 1; */
  animation: fadeIn 0.5s ease-in-out forwards;
}

.work-image-container-3:hover .work-image-text {
  /* opacity: 1; */
  animation: fadeIn 0.5s ease-in-out forwards;
}

.work-image-container:hover .work-image-item {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.work-image-container-1:hover .work-image-item {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.work-image-container-2:hover .work-image-item {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.work-image-container-3:hover .work-image-item {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.work-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.work-image-item {
  width: 100%;
  height: 100%;
}

.work-image-title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.115px;
  color: #1c1e1e;
}

.work-image-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.115px;
  color: #1c1e1e;
}

.content-content {
  width: 80%;
  height: 40rem;
  background: #fffefe;
  box-shadow: 0px 4px 10px 0px rgba(198, 197, 197, 0.3);
  border-radius: 10px;
}

.footer-content {
  width: 100%;
  margin-top: 3rem;
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.115px;
  color: #1c1e1e;
  text-decoration: none;
}

.footer {
  margin-top: 2rem;
}

.footer-paragraph {
  color: rgba(28, 30, 30, 0.8);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.098px;
}

.contact-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.form-group {
  width: 100%;
  height: 3rem;
}

.form-control {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #c6c5c5;
  background: #f8f8f8;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.115px;
}

.form-text-area {
  width: 100%;
  height: 12rem;
}

.about-content-1 {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.about-wrapper-1 {
  width: 80%;
  height: 30rem;
  display: flex;
}

.about-side-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.about-side-2 {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.photo-container {
  width: 400px;
  height: 469px;
}

.photo-image {
  width: 100%;
  height: 100%;
}

.paragraph-text-bio {
  color: #478fd3;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.131px;
}

.paragraph-text-1 {
  color: #1c1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.098px;
}

.about-content-2 {
  width: 100%;
  height: 30rem;
  padding: 2rem;
  background: #e5ecef;
}

.about-content-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

li.content-item:not(:last-child) {
  margin-bottom: 2rem;
}

.work-titles {
  color: #1c1e1e;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.197px;
}

.content-item {
  color: #000;
  font-family: "Lexend Deca";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.09px;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .home-container {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .home-container {
    width: 80%;
  }

  .navbar__menu {
    display: none;
  }

  .work-content-wrapper {
    grid-template-columns: 1fr;
  }

  .work-image-container {
    width: 100%;
    height: auto;
  }

  .work-image-container-1 {
    width: 100%;
    height: auto;
  }

  .about-content-1,
  .about-content-2 {
    padding: 1rem;
  }

  .about-content-2 {
    height: 70rem;
  }

  .about-wrapper-1 {
    flex-direction: column;
    height: auto;
  }

  .hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .hamburger-menu__line {
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .modal {
    position: absolute;
    top: 100px; /* Adjust the value to set the desired gap from the navbar */
    left: 0;
    width: 100%;
    height: 13rem;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: #f1f0f6;
    /* border-bottom: 2px solid #1c1e1e ; */
  }

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  .modal__menu--items {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 1rem;
  }

  .work-image-container-2 {
    width: 100%;
    height: auto;
  }

  .work-image-container-3 {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    width: 90%;
  }

  .navbar__container {
    padding: 0 2rem;
  }

  .navbar__menu--item {
    font-size: 1rem;
  }

  .home-wrapper {
    padding: 0 1rem;
  }

  .job-paragraph {
    width: 100%;
  }

  .work-wrapper {
    padding: 2rem;
  }

  .work-content-wrapper {
    grid-template-columns: 1fr;
  }

  .work-image-container {
    width: 100%;
    height: auto;
  }

  .work-image-container-1 {
    width: 100%;
    height: auto;
  }

  .work-image-container-2 {
    width: 100%;
    height: auto;
  }

  .work-image-container-3 {
    width: 100%;
    height: auto;
  }

  .footer-content {
    width: 80%;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-content-wrapper {
    padding: 2rem;
  }

  .about-content-1,
  .about-content-2 {
    padding: 1rem;
  }

  .about-content-2 {
    height: 70rem;
  }

  .about-wrapper-1 {
    flex-direction: column;
    height: auto;
  }

  .about-side-1,
  .about-side-2 {
    width: 100%;
    margin: 1rem;
  }

  .photo-container {
    width: 100%;
    height: auto;
  }

  .about-content-wrapper {
    padding: 1rem;
  }

  .work-titles {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .home-container {
    width: 95%;
  }

  .home-heading {
    font-size: 2rem;
  }

  .job-paragraph,
  .job-title,
  .work-title,
  .work-paragraph,
  .work-titles,
  .paragraph-text-bio,
  .paragraph-text-1 {
    font-size: 1.4rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .footer-paragraph {
    font-size: 12px;
  }
}
