@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #e5ecef;
  font-family: "Lexend Deca", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #1c1e1e;
}

.header-container {
  width: 100%;
  height: 100px;
  border-bottom: 0.4px solid #bcbaba;
}

.navbar__container {
  width: 100%;
  height: 100%;
  padding: 0 6rem;
}

.navbar__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ul {
  list-style: none;
  display: flex;
  align-items: center;
} */

.navbar__menu--items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar__menu--item {
  cursor: pointer;
  color: #1c1e1e;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar__menu--item:active {
  border-bottom: 5px solid #478fd3;
}

.navbar__menu--item:hover {
  border-bottom: 5px solid #478fd3;
}

.home-container {
  margin: 4rem auto;
  width: 60%;
  height: 30rem;
}
.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  /* justify-content: center; */
  border-left: 2px solid #478fd3;
  padding: 0 2rem;
}

.job-paragraph {
  width: 80%;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.098px;
}

.job-title {
  color: #696a6a;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.148px;
}

.home-heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.23px;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-radius: 999px;
  border: 2px solid #478fd3;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.button-img {
  width: 1rem;
  height: 1rem;
}

.btn-img-item {
  width: 100%;
  height: 100%;
}

/* .active {
  border-bottom: 5px solid #478fd3;
} */

.work-container {
  /* width: 100%;
  height: 40rem; */
  background: #f1f0f6;
  /* margin: 4rem auto; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.work-wrapper {
  width: 100%;
  height: 80%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.work-title {
  font-size: 2rem;
  color: #1c1e1e;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.164px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #478fd3;
}

.work-paragraph {
  color: #333;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.115px;
}

.work-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.work-image-container {
  width: 400px;
  height: 396px;
}

.work-image-item {
  width: 100%;
  height: 100%;
}

.content-content {
  width: 80%;
  height: 40rem;
  background: #fffefe;
  box-shadow: 0px 4px 10px 0px rgba(198, 197, 197, 0.3);
  border-radius: 10px;
  /* margin: 4rem auto; */
}

.footer-content {
  width: 50%;
  margin-top: 3rem;
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.115px;
  /* color: #696a6a; */
  color: #1c1e1e;
  text-decoration: none;
}

.footer {
  margin-top: 2rem;
}

.footer-paragraph {
  color: rgba(28, 30, 30, 0.8);
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.098px;
}

.contact-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
  padding: 4rem;
}

.form-group {
  width: 100%;
  height: 3rem;
  /* background-color: red; */
}

.form-control {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #c6c5c5;
  background: #f8f8f8;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.115px;
}

.form-text-area {
  width: 100%;
  height: 12rem;
}

.about-content-1 {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wrapper-1 {
  width: 80%;
  height: 30rem;
  /* background-color: red; */
  display: flex;
}

.about-side-1 {
  width: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.about-side-2 {
  margin-top: 0;
  width: 50%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.photo-container {
  width: 400px;
  height: 469px;
}

.photo-image {
  width: 100%;
  height: 100%;
}

.paragraph-text-bio {
  color: #478fd3;
  text-align: center;

  /* H3 - Medium */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.131px;
}

.paragraph-text-1 {
  color: #1c1e1e;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.098px;
}

.about-content-2 {
  width: 100%;
  height: 30rem;
  padding: 2rem;
  background: #e5ecef;
}

.about-content-wrapper {
  /* background: red; */
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

li.content-item:not(:last-child) {
  margin-bottom: 2rem;
}

.work-titles {
  color: #1c1e1e;

  /* H2 - Bold */
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.197px;
}

.content-item {
  color: #000;
  font-family: Lexend Deca;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.09px;
}
@media only screen and (max-width: 600px) {
  /*Small tablets [425px -> 600px]*/
  .navbar__container {
    /* width: 100vw; */
    padding: 0 1rem;
  }
  /* .logo-container {
    width: 100px;
    height: 100px;
  } */

  .work-image-container {
    width: 200px;
    height: 196px;
  }
  .home-container {
    width: 80%;
  }
  .home-wrapper {
    padding: 0 1rem;
  }
  .job-paragraph {
    width: 100%;
  }
  .job-title {
    font-size: 1.4rem;
  }
  .home-heading {
    font-size: 2rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }
  .button-img {
    width: 0.8rem;
    height: 0.8rem;
  }

  .navbar__menu--item {
    cursor: pointer;
    color: #1c1e1e;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .navbar__container {
    /* padding: 0 1rem; */
  }

  .work-image-container {
    width: 100px;
    height: 96px;
  }

  .navbar__menu--item {
    cursor: pointer;
    color: #1c1e1e;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
  }

  .logo-container {
    width: 1rem;
    height: 1rem;
  }

  .navbar__menu--item {
    font-size: 0.8rem;
  }

  .image-item {
    width: 100%;
    height: 100%;
  }

  .home-container {
    width: 90%;
  }
  /* .home-wrapper {
    padding: 0 1rem;
  } */
  .job-paragraph {
    width: 100%;
    font-size: 1.4rem;
  }
  .job-title {
    font-size: 1rem;
  }
  .home-heading {
    font-size: 1.4rem;
  }
  .btn {
    padding: 0.3rem 1rem;
  }
  .button-img {
    width: 0.8rem;
    height: 0.8rem;
  }
}
